@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {background-color: white;
    min-width: 561px;
    max-width: 800px;
    margin-inline: auto;
}
.logo { 
    margin: 0.8rem;
    position: relative;
    background-color: rgb(215, 231, 245);
    width: 0.7rem;
    height: 1rem;
    border: 2px solid  rgb(43, 151, 227);
    border-radius: 5px;
    transform: rotate(45deg);
   }
 .logo::after {
    content: "";
    position: absolute;
    top: -7px;
    right: 2.9px;
    background-color:  rgb(43, 151, 227);
    width: 2px;
    height: 10px;
  
}
.logo::before {
    content: "";
    position: absolute;
    top: 9px;
    right: 2.9px;
    background-color:  rgb(43, 151, 227);
    width: 2px;
    height: 10px;
}
.cap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2px;
}
.logo_name{
    color:  rgb(43, 151, 227);
    font-weight: 800;
    font-size: 1.3rem;
    text-transform: uppercase;
    position: relative;
}
.logo_name::before {
    content: "";
    position: absolute;
    left: -5px;
    top: 3px;
    width: 2px;
    z-index: 1;
    height: 20px;
    background-color:  rgb(43, 151, 227);
}
nav ul li {
    display: inline;
    margin-left: 10px;
}
nav ul li:first-child {
    color: rgb(43, 151, 227);
}
nav ul li a {
    text-decoration: none;
    color: inherit;
}
.header {
    background-color: whitesmoke;
    font-size: smaller;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a[href="log"] {
    color: blue;
    text-decoration: none;
    margin-right: 10px;
}
a[href="try"] {
    color: white;
    text-decoration: none;
    background-color:  rgb(43, 151, 227);
    border-radius: 20px;
    padding: 5px;
}
main {
    max-width: 800px;
    margin-inline: auto;
}
.first1 {
    background-color: whitesmoke;
    text-align: center; 
}
.first1 h1 {
    max-width: 470px;
    padding-top: 30px;
    margin-inline: auto;
}
.first1 p {
    max-width: 370px;
    font-size: 10px;
    margin-top: 15px;
    margin-inline: auto;
    padding-bottom: 20px;
}
a[href="learn"] {
    color: blue;
    text-decoration: none;
   }
a[href="sign"] {
    margin-right: 1.5rem;
    color: white;
    text-decoration: none;
    background-color:  rgb(43, 151, 227);
    border-radius: 20px;
    padding: 5px 15px;
}
.second2 {
    background-color: whitesmoke;
    height: 100px;
    width: 370px;
    border: 1px solid rgb(43, 151, 227);
    margin: 0 auto;
    position: relative;
    border-radius: 10px;
    top: 20px;
}
.second2::after {
    content: "";
    position: absolute;
    width: 6rem;
    background-color: rgb(214, 179, 226);
    height: 7rem;
    bottom: -0.3rem;
    z-index: -1;
    border-radius:62% 38% 61% 39% / 78% 84% 16% 22%  
}
.second2::before {
    content: "";
    position: absolute;
    width: 410px;
    background-color: rgb(214, 179, 226);
    height: 2.5rem;
    top: 7rem;
    left: -50px;
    z-index: -1;
    border-radius: 50%;
    box-shadow: 0px 3px 5px ;
}
p.one {
    position: relative;
   
    width: 20px;
    height: 2px;
    background-color: hsla(0, 0%, 0%, 0.533);
}

p.one::after {
    content: "";
    background-color: white;
    position: absolute;
    left: -11px;
    top: -7px;
    z-index: -1;
    width: 15px;
    height: 15px;
    border: 2px solid hsla(0, 0%, 0%, 0.533);
    border-right-color: white;
    border-radius: 40%;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
}
p.one::before {
    content: "";
    background-color: white;
    position: absolute;
    z-index: -1;
    left: 11px;
    top: -7px;
    width: 15px;
    height: 15px;
    border: 2px solid hsla(0, 0%, 0%, 0.533);
    border-left-color: white;
    border-radius: 40%;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
}
p.two {
    position: relative;
   
    width: 20px;
    height: 2px;
    background-color: hsla(0, 0%, 0%, 0.533);
}

p.two::after {
    content: "";
    background-color: white;
    position: absolute;
    left: -11px;
    top: -7px;
    z-index: -1;
    width: 15px;
    height: 15px;
    border: 2px solid hsla(0, 0%, 0%, 0.533);
    border-right-color: white;
    border-radius: 40%;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
}
p.two::before {
    content: "";
    background-color: white;
    position: absolute;
    z-index: -1;
    left: 11px;
    top: -7px;
    width: 15px;
    height: 15px;
    border: 2px solid hsla(0, 0%, 0%, 0.533);
    border-left-color: white;
    border-radius: 40%;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
}
p.three {
    position: relative;
   
    width: 20px;
    height: 2px;
    background-color: hsla(0, 0%, 0%, 0.533);
}

p.three::after {
    content: "";
    background-color: white;
    position: absolute;
    left: -11px;
    top: -7px;
    z-index: -1;
    width: 15px;
    height: 15px;
    border: 2px solid hsla(0, 0%, 0%, 0.533);
    border-right-color: white;
    border-radius: 40%;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
}
p.three::before {
    content: "";
    background-color: white;
    position: absolute;
    z-index: -1;
    left: 11px;
    top: -7px;
    width: 15px;
    height: 15px;
    border: 2px solid hsla(0, 0%, 0%, 0.533);
    border-left-color: white;
    border-radius: 40%;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
}
p.five {
    position: relative;
   
    width: 20px;
    height: 2px;
    background-color: hsla(0, 0%, 0%, 0.533);
}

p.five::after {
    content: "";
    background-color: white;
    position: absolute;
    left: -11px;
    top: -7px;
    z-index: -1;
    width: 15px;
    height: 15px;
    border: 2px solid hsla(0, 0%, 0%, 0.533);
    border-right-color: white;
    border-radius: 40%;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
}
p.five::before {
    content: "";
    background-color: white;
    position: absolute;
    z-index: -1;
    left: 11px;
    top: -7px;
    width: 15px;
    height: 15px;
    border: 2px solid hsla(0, 0%, 0%, 0.533);
    border-left-color: white;
    border-radius: 40%;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
}
p.four {
    color: blue;
    font-weight: 900;
}
.symbol{
    position: absolute;
    left: 40px;
    z-index: 2;
    display: flex;
    gap: 18px;
    align-items: center;
}
.second2 p.seam {
    text-align: center;
font-size: 10px;
margin: 30px auto ;
width: 195px;
letter-spacing: -0.05rem;
word-spacing: 0.1rem;
}
.three3 {
    margin-top: 70px;
    padding: 20px 15px 50px;
    border-top: 1px solid rgb(227, 194, 194);
    display: flex;
    justify-content: space-between;
}
p.stop, .pos {
    width: 131px;
    font-weight: 800;
}
.pos {
    display: block;
}
.pos::after {
    content: ".";
}
.pos span {
    color: blue;
}
p.shift {font-size: 10px;
    width: 70px;

}
p.shift:nth-child(4) {
    width: 85px;
}
p.shift:nth-child(5) {
    width: 74px;
}
.shift span {
    display: block;
    font-size: 14px;
    font-weight: 800;
}
.why {
    width: 220px;
}
.why p {
    font-size: 10px;
}
.why h3 {
    margin-block: 10px;
    position: relative;
}
.why h3::before {
    content: "";
    position: absolute;
    left: -8px;
    top: 1.5px;
    width: 5px;
    height: 19px;
    background: linear-gradient(blue, black);
}
.why h3 span {
    color: blue;
}
.others {
    width: 200px;
    font-size: 10px;
}
.others span {
    font-size: initial;
    font-weight: 700;
    display: block;
    margin-block: 10px;
}
.four4 {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.five5 {
    width: 50%;
    margin: 20px auto;
}
.five5 p {
    font-size: 10px;
    text-align: center;
}
.five5 h3 {
    margin-inline: auto;
    position: relative;
    width: 260px;
}
.five5 h3 span {
    
    color: blue;
}
.five5 h3::before {
    content: "";
    position: absolute;
    left: -10px;
    top: 1.5px;
    width: 3px;
    height: 19px;
    background: linear-gradient(blue, black);
}
.six6 {
    display: flex;
    justify-content: center;
    margin-block: 40px;
}
.six6 div {
    padding: 20px 10px;
    border: 1px solid rgba(43, 96, 161, 0.416);
    width: 182px;
    border-radius: 5px;
    font-size: 10px;
    letter-spacing: -0.01rem;
}
.six6 div.real {
    padding-top: 40px;
    border: none;
    background-color: rgb(55, 76, 124);
    font-size: 8px;
    color: white;
    transform: scaleY(1.2);
}
.six6 p span {
    display: block;
}
.six6 ul li {
    padding: 10px 5px;
    list-style-position: inside;
}
.six6 div p span.bold {
    font-weight: 900;
    font-size: 16px;
    margin-block: 20px 15px;
}
.seven7 {
    margin-block: 65px 50px;
    text-align: center;
    font-size: 8px;
}
.seven7 a[href="#7"] {
    border: 1px solid;
    margin-right: 10px;
    padding: 5px 15px;
    border-radius: 20px;
    text-decoration: none;

}
.seven7 a[href="#8"] {
    background-color: #0065fe;
    margin-right: 10px;
    padding: 6px 30px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
}
.nine9 {
    padding-top: 20px;
    font-size: 6px;
    height: 200px;
    background: linear-gradient(180deg, #1E3448 99.99%, rgba(30, 52, 72, 0) 100%);

}
.nine9 form {
    background-color: white;
    margin: auto;
    width: 45%;
    height: 160px;
    padding: 20px;
    border-radius: 12px;
}
input, select, button {
    font-size: inherit;
    border: 1px solid #0065fe;
    border-radius: 6px;
}
input#url, button {
    width: 100%;
    height: 20px;
    margin-bottom: 10px;
}
select, input#alias {
    width: 46.2%;
    margin-right: 5px;
    margin-bottom: 10px;
    height: 20px;
}
button {
    border: none;
    background-color: #0065fe;
    color: white;
    border-radius: 40px;
}
form p {
    color: #0065fe;
}
form p a {
    color: inherit;
    text-decoration: none;
}
.ten {
    width: 60%;
    margin-inline: auto;
    margin-block: 20px;
    font-size: 65%;
    }
    .ten details {
        padding-block: 10px;
        border-bottom: 1px solid wheat;
        
    }
    .ten h2 {
        margin-inline: auto;
        width: 40px;
        position: relative;
    }
    .ten h2::before {
        content: "";
        position: absolute;
        left: -10px;
        top: 1.5px;
        width: 3px;
        height: 19px;
        background: linear-gradient(blue, black, whitesmoke);
    }
    .ten details summary {   
        list-style: none;    
        display: flex;
        justify-content: space-between;
        flex-flow: row-reverse; 
        cursor: pointer;
    }
    .ten details summary::before {
        content: "+";
        font-size: 12px;
       
    }
    .ten details[open] summary::before {
        content: "-";
        font-size: 12px;
    }
.eight {
        margin: 30px 0px;
        padding-top: 30px;
        padding-bottom: 20px;
        background:  linear-gradient(180deg, #1E3448 99.99%, rgba(30, 52, 72, 0) 100%);
        color: white;
        text-align: center;
        line-height: 2;
    }
    .eight a {
        padding-inline: 30px;
        padding-block: 5px;
        border-radius: 50px;
        font-size: 10px;
        background-color: #0065fe;
        color: inherit;
        text-decoration: none;
    }
    .eight p {
        font-weight: 800;
        word-spacing: 4px;
        font-size: 20px;
    }
    footer{
        margin-bottom: 20px;
    }
div.footer {
    margin-bottom: 2rem;
    display: flex;
    align-items: start;
    gap: 20px;
    grid-template-columns:1fr 1fr;
}
.otherss p {
    font-weight: 900;
   }
.otherss a {
    display: block;
    margin-block: 5px;
    color: black;
    text-decoration: none;
    opacity: 0.8;
}
.contact {
    display: flex;
    justify-content: center;
}
.contact img {
    cursor: pointer;
}
.otherss{
    width: 100%;
    font-size: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: px;
}
.otherss .features {
    max-width: 100px;
}
.footerlogo { 
    margin: 0.8rem;
    position: relative;
    background-color: rgb(255, 255, 255);
    width: 0.7rem;
    height: 1rem;
    border: 2px solid  rgb(0, 0, 0);
    border-radius: 5px;
    transform: rotate(45deg);
   }
 .footerlogo::after {
    content: "";
    position: absolute;
    top: -7px;
    right: 2.9px;
    background-color:  rgb(0, 0, 0);
    width: 2px;
    height: 10px;
  }
.footerlogo::before {
    content: "";
    position: absolute;
    top: 9px;
    right: 2.9px;
    background-color:  black;
    width: 2px;
    height: 10px;
}
.footercap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2px;
}
.footerlogo_name{
    color:  black;
    font-weight: 800;
    font-size: 1.3rem;
    text-transform: uppercase;
    position: relative;
}
.footerlogo_name::before {
    content: "";
    position: absolute;
    left: -5px;
    top: 3px;
    width: 2px;
    z-index: 1;
    height: 20px;
    background-color:  black;
}
footer .last {
    text-align: right;
    font-size: 0.7rem;
    margin-right: 2.5rem;
}
footer .last a {
    text-decoration: none;
    margin: 0.1rem;
    color: black;
}
   section h5 {
    display: none;
   }